<div class="text-center">
    <button ng-click="$ctrl.signoutUser()" class="btn btn-lg btn-warning">
        <i class="fa fa-sign-out"></i>&nbsp; Sign out!</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{$ctrl.kname}}</td>
                        <td>{{$ctrl.ktemp}}</td>
                        <td>{{$ctrl.khumid}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>{{$ctrl.iname}}</td>
                        <td>{{$ctrl.itemp}}</td>
                        <td>{{$ctrl.ihumid}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>{{$ctrl.pname}}</td>
                        <td>{{$ctrl.ptemp}}</td>
                        <td>{{$ctrl.phumid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <canvas class="chart chart-bar" chart-data="$ctrl.points"
    chart-options="$ctrl.options" chart-labels="$ctrl.labels" chart-series="$ctrl.series"></canvas>
</div>
