<div class="container-fluid monitor-panel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{$ctrl.kname}}</td>
                        <td>{{$ctrl.ktemp}}</td>
                        <td>{{$ctrl.khumid}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>{{$ctrl.iname}}</td>
                        <td>{{$ctrl.itemp}}</td>
                        <td>{{$ctrl.ihumid}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>{{$ctrl.pname}}</td>
                        <td>{{$ctrl.ptemp}}</td>
                        <td>{{$ctrl.phumid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
